#canvas {
  float:left;
  width:760px;
  height:760px;
}

#container{
	color:#FFFFFF;
	float: right;
	background-color: #232B2B;
	width:200px;
	height: 760px;
}

button{
	background-color:#E3AE57;
	margin: 10px 10px 10px 10px;
}

#slidercontainer{
	width:80%;
	margin:10px 10px 10px 10%;
}