#canvas {
  float:left;
  width:625px;
  height:625px;
}

#container{
	color:#FFFFFF;
	float: right;
	background-color: #232B2B;
	width:200px;
	height: 625px;
}

button{
 	/*background-color:#E3AE57;*/
	margin: 10px 10px 10px 10px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;    
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#slidercontainer{
	width:80%;
	margin:10px 10px 10px 10%;
}